.app {
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 0;
  position: relative;
  z-index: 1;

  .eclipse {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0.3);
  }

  .content {
    position: relative;
    z-index: 3;
  }
}